binds {

Mod+Shift+Slash { show-hotkey-overlay; }

Mod+E { spawn "thunar"; }
Mod+T { spawn "zeditor"; }
Mod+B { spawn "brave-origin"; }
Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" {
    spawn "ghostty" "+new-window";
}

Ctrl+Shift+S { spawn "flameshot" "gui"; }
Mod+P { spawn "hyprpicker" "-a"; }

Super+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" {
    spawn "hyprlock";
}

Super+Alt+S allow-when-locked=true hotkey-overlay-title=null {
    spawn-sh "pkill orca || exec orca";
}

}
