binds {
    // Layout switcher
    Mod+L hotkey-overlay-title="Switch Layout" { switch-layout "next"; }

    // Window switcher
    Alt+Tab hotkey-overlay-title="Window Switcher" { spawn "noctalia" "msg" "window-switcher"; }

    // Panels and settings
    Mod+A hotkey-overlay-title="Open Notifications" { spawn "noctalia" "msg" "panel-toggle" "control-center" "notifications"; }
    Mod+Z hotkey-overlay-title="Open Noctalia Settings" { spawn "noctalia" "msg" "settings-toggle"; }
    Mod+X hotkey-overlay-title="Open Control Center" { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+Space hotkey-overlay-title="Open Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+Shift+W hotkey-overlay-title="Open Wallpaper Selector" { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Mod+V hotkey-overlay-title="Open Clipboard" { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }

    // Screenshot
    Mod+R hotkey-overlay-title="Noctalia Screenshot" { spawn "noctalia" "msg" "screenshot-region"; }

    // Night light
    Mod+N hotkey-overlay-title="Enable Night Light" { spawn "noctalia" "msg" "nightlight-enable"; }
    Mod+Alt+N hotkey-overlay-title="Disable Night Light" { spawn "noctalia" "msg" "nightlight-disable"; }

    // Session
    Mod+Alt+C hotkey-overlay-title="Open Session Manager" { spawn "noctalia" "msg" "panel-toggle" "session"; }

    // Sound
    XF86AudioRaiseVolume { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute { spawn "noctalia" "msg" "volume-mute"; }

    // Brightness
    XF86MonBrightnessUp { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown { spawn "noctalia" "msg" "brightness-down"; }
}
