include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "bindings/apps.kdl"
include "bindings/noct-calls.kdl"
include "bindings/tiling.kdl"
include "animations.kdl"
include "window-rules.kdl"
include "env.kdl"

spawn-at-startup "noctalia"
spawn-at-startup "fcitx5 -d"

hotkey-overlay {
    // skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "noctalia.kdl"
