input {
    keyboard {
      repeat-delay 200
      repeat-rate 40
        xkb {
            layout "us,br"
            variant "altgr-intl"
            options "compose:ralt"
        }
    }

    focus-follows-mouse

    workspace-auto-back-and-forth

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

    trackpoint {
    }
}

gestures {
  hot-corners {

    }
}
