window-rule {
    match app-id="brave-origin"
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
  // Rounded corners for a modern look.
  geometry-corner-radius 20

  // Clips window contents to the rounded corner boundaries.
  clip-to-geometry true
}

window-rule {
    draw-border-with-background false
}

debug {
    wait-for-frame-completion-before-queueing
}
